<mat-list *ngIf="ratings != undefined" class="inline-list">
    <mat-list-item *ngFor="let rating of ratings.scenarios" style="height: 100%;">
        <mat-card class="scenario-card">
            <mat-card-header>
                <mat-card-title>
                    Szenario {{rating.name}}
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="scenario-details">
                <p>LLM: {{rating.description}}</p>
                <ngx-charts-pie-chart
                    [view]="view"
                    [customColors]="customColors"
                    [results]="rating.progressStatistics"
                    [gradient]="gradient"
                    [legend]="showLegend"
                    [labels]="showLabels"
                    [doughnut]="isDoughnut"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                ></ngx-charts-pie-chart>
            </div>
        </mat-card>
    </mat-list-item>
</mat-list>
