.flex-parent-element {
    display: flex;
    align-items: center;
  }
  
  .flex-child-element {
    width: auto;
  }
  
  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }