.inline-list {
    display: flex;
    height: fit-content;
}

.scenario-card {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: thin solid;
    border-color:grey;
}

mat-divider {
    margin-bottom: 5px;
}

mat-card-header {
    padding: 5px;
}

.span-custom {
    display: inline-block;
}

mat-list {
    flex-grow: 1;
    overflow: auto;
}