<mat-list *ngIf="statistics != undefined" class="inline-list">
    <mat-list-item *ngFor="let statistic of statistics.scenarios" style="height: 100%;">
        <mat-card class="scenario-card">
            <mat-card-header>
                <mat-card-title>
                    {{statistic.name}}
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="scenario-details">
                <p>{{statistic.description}}</p>
                <p>Responses: {{statistic.totalResponseCount}}</p>
                <ngx-charts-pie-chart
                    [view]="view"
                    [customColors]="progressColors"
                    [results]="statistic.progressStatistics"
                    [gradient]="gradient"
                    [legend]="showLegend"
                    [labels]="showLabels"
                    [doughnut]="isDoughnut"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                />
                <ngx-charts-pie-chart *ngIf="statistic.resultStatistics.length != 0; else noEvals"
                    [view]="view"
                    [customColors]="resultColors"
                    [results]="statistic.resultStatistics"
                    [gradient]="gradient"
                    [legend]="showLegend"
                    [labels]="showLabels"
                    [doughnut]="isDoughnut"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                />
                <ng-template #noEvals>
                    <div>
                        No evaluations, yet
                    </div>
                </ng-template>
                <strong>Consensus with ChatGPT: {{statistic.ratingScore.value * 100}}%</strong>
            </div>
        </mat-card>
    </mat-list-item>
</mat-list>
